<div class="container">

<br>

<div class="row justify-content-center">
<% @movies.each do |movie| %>
<div class="col-sm-6 col-md-3 m-3" style="border-radius: 8px">
  <div class="thumbnail" style="border-radius: 8px" id="MovieImages">
    <% if movie.image.attached? %>
      <%= link_to (image_tag movie.image, style: "width:100%; border-radius: 8px;"), movie %>
    <% else %>
      <p>Image Missing</p>
    <% end %>
    <table>
      <tbody>
          <tr>
            <td><%= movie.title %></td>
          </tr>
          <tr>
            <td><%= movie.rating %></td>
          </tr>
          <tr>
            <td><%= movie.category %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
</div>
</div>