@import "~bootstrap/scss/bootstrap";
body {
    background-color: rgb(145, 145, 145);
    color: #333; }
  
#notice {
  color: green; }

#MovieImages {
  background: rgb(193, 211, 158);
}
.reviews {
  padding: 10px 0;
  .star-rating {
    padding-bottom: 8px;
  }
}